@import "~vue-multiselect/dist/vue-multiselect.min.css";

.multiselect__select {
    display: none;
}

.multiselect__tags {
    background-color: transparent;
    border: none;
    padding-left: 0;
    padding-right: 0;
}

.multiselect__tag,
.multiselect__option--highlight,
.multiselect__option--highlight::after,
.multiselect__tag-icon:focus,
.multiselect__tag-icon:hover {
    background: $green;
}

.multiselect,
.multiselect__input,
.multiselect__single {
    padding: 0;
    border-radius: 0;
}

.multiselect__input:focus::placeholder,
.multiselect__input:focus::-webkit-input-placeholder,
.multiselect__input::placeholder,
.multiselect__input::-webkit-input-placeholder,
.multiselect__placeholder {
    color: #7A889B;
    opacity: 1;
    padding-top: 0;
    line-height: 1;
    font-size: 16px;
}

.multiselect__input {
    line-height: 1;
}

.multiselect__tag {
    padding-bottom: 2px;
}
